

body {
  @include vh100;
 
}

#root {
  @include vh100;
}

.app-container { 
 
    @include column;
    justify-content: flex-start; 
    align-items: center;
   // min-height: 100vh;
  @include vh100;
}


.site-header {
  @include row-wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  @include layout-padding; 
  flex: 0 1 auto;
  width: 100%;
 max-width: calc(980px + 2rem);
  
  .spacer {
    content: '   ';
    height: 3em;    
    flex-grow: 3;
  }  
  
}


main {
           
     
            margin: 0;
            flex: 1 1 auto;
            width: 100%;
           // @include column;
           // align-items: center;
            //align-content: center;
            @include layout-padding; 
}       

.main-inner {

  width: 100%;
  max-width: 970px;
}

.intro {
  padding: 0.5rem;
}


article:not(#modal) {
 margin: 0 auto;
   width: 100%;
  max-width: 970px;
}


.content p {
  //max-width: 700px;
  
}

.content ul {
  //max-width: 700px;

}



#readme p {
  //max-width: 700px;
}

#readme ul {
  //max-width: 700px;
}

footer {

  @include layout-padding; 
  flex: 0 1 auto;
  min-height: 5em;
  text-align: center;
  background-color: $footer-bgcolor;
  @include fontcolor-main;
  width: 100%;
  
  ul {
    padding: 0 1em;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    li {
      padding: 0 1rem;
     min-height: 48px;
   
    }
    
    li a {
      display: flex;
      align-items: center;
      align-content: center;
       
    }
    
    a:hover {
       display: flex !important;
    }
    
    svg,img {
      margin-right: 5px;
    }
    
  }
  
  small {
    font-style: italic;
  }
}
