

body {
  //@include debug-focus;
  @include vh100;
}

#root {
 // @include debug;
  @include vh100;
}

.app-container { 
 // @include debug-focus;
    @include column;
    justify-content: flex-start; 
    align-items: center;
    //align-items: stretch;
    min-height: 100vh;
}


.site-header {
 //@include debug-focus;
  //height: auto;
  @include row-wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  @include layout-padding; 
  flex: 0 1 auto;
 // flex-shrink: 1;
  width: 100%;
 max-width: calc(980px + 2rem);
  
  .spacer {
   // @include debug-focus;
    content: '   ';
    height: 3em;    
    flex-grow: 3;
  }  
  
}


main {
           
          //@include debug;
            margin: 0;
            flex: 1 1 auto;
            //flex-grow: 1;
            width: 100%;
 // min-height: calc(100vh - 5em);
            //height: auto;
            //background: yellow;
            @include column;
            align-items: center;
            //justify-content: center;
           align-content: center;
            @include layout-padding; 
}       

.content {
 //@include debug-focus;
  width: 100%;
  max-width: 970px;
  
  //max-width: 1070px;
}

.intro {
  padding: 0.5rem;
}


footer {
  //@include debug; 
  @include layout-padding; 
  flex: 0 1 auto;
  //flex-shrink: 1;
  min-height: 5em;
  text-align: center;
  background-color: $footer-bgcolor;
  @include fontcolor-main;
  width: 100%;
}
