


@keyframes appear{
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes grow{
  from {
    transform: scale(0,0);
  }

  to {
    transform: scale(1,1);
  }
}


@keyframes fadein {
  0% {
  transform: translateY(10em);
  opacity:0;
  visibility: hidden;
  
  }

  100% {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
 
  }
}

@keyframes display {
  0% {
 transform: translateY(15px);

  
  }

  100% {
 transform: translateY(0);

 
  }
}

@keyframes pulsing {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

@keyframes height {
  
  0% {
   opacity: 0;
    height: 0;
  }
  
  100% {
   opacity: 1;
    height: 100%;
  }
  
  
}


