//debugging

@mixin debug {
  outline: 1px dotted red !important;
  background-color: rgba(red, 0.3) !important;
}

@mixin debug-focus {
  outline: 1px dotted orange !important;
  background-color: rgba(yellow, 0.5) !important;
}

@mixin debug-compare {
  outline: 1px dotted blue !important;
  background-color: rgba(blue, 0.3) !important;
}

//layout view height hacks

@mixin vh100 {
    min-height: -webkit-calc(var(--vh,1vh) * 100);
    min-height: -moz-calc(var(--vh,1vh) * 100);
    min-height: -o-calc(var(--vh,1vh) * 100);
    min-height: calc(var(--vh,1vh) * 100);
}



@mixin fill-remaining-height {
         height: -webkit-calc(80vh - #{$navheight});
       height: -moz-calc(80vh - #{$navheight});
       height: -o-calc(80vh - #{$navheight});
       height: calc(80vh - #{$navheight});
       height: -webkit- calc(var(--vh,1vh) * 100 - #{$navheight});
       height: -moz- calc(var(--vh,1vh) * 100 - #{$navheight});
       height: -o- calc(var(--vh,1vh) * 100 - #{$navheight});
       height: calc(var(--vh,1vh) * 100 - #{$navheight});
}


// Flex Shortcuts


@mixin row-wrap {
  display: flex;
  flex-flow: row wrap;
}

@mixin column {
  display: flex;
  flex-flow: column nowrap;
}

@mixin column-wrap {
  display: flex;
  flex-flow: column wrap;
}


// Templating

@mixin fontcolor-main {
  color: $white;
}

// hover interactions

@mixin hover {
  cursor: pointer;
}

// hyperlink stuff

@mixin external-link-indicator-orig {
      content: '\21F1';
      transform: rotate(90deg);
      font-size: 0.8rem;
      position: absolute;
      top: -3px;
      right: -8px;
      opacity: 0.7;
    }

@mixin external-link {   
      content: '\25B6';
      //content: '\226B';
      transform: rotate(-45deg);
      //transform: rotate(-90deg);
      font-size: 0.5rem;
      position: absolute;
      top: -3px;
      right: -7px;
      opacity: 0.7; 
}

// transitions

@mixin smooth-transition {
  transition: all 300ms ease;
}


@mixin slow-transition {
  transition: all 500ms ease;
}

// padding and margins

@mixin layout-padding {
  padding: 1rem;
}


@mixin standard-padding {
  padding: 1rem;
}

@mixin alt-background {
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;
}

// selection stuff

@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin no-flashy-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@mixin fontawesome {
     display: inline-block;
     font-style: normal;
     font-variant: normal;
     text-rendering: auto;
     -webkit-font-smoothing: antialiased;
     font-family: "Font Awesome 5 Free";
     font-weight: 900;  
}

