.button-primary {
  @include hover;
  
  display: block;
  padding: 1rem;
  text-align: center;
  margin: 1rem auto 0;
  background-color: $dark-lavendar;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: $purpleywhite;
  outline: $purple-shadow;
  
 /* 
  &:hover {
    background-color: $black;
    transition: all 300ms ease;
  }*/
  
}

.button-view-details {
  a {
    color: $dark-lavendar;
    background-color: transparent;
    text-align: right;
  }
}


.button-close {
  
  @include hover;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  .fa-times {
    height: 1.5em;
    width: 1.5em;
    color: $lavendar;
   // vertical-align: center;
  }
  
  &:hover {
    @include slow-transition;
    background-color: rgba($lavendar,0.1);
    .fa-times {
     // @include smooth-transition;
      transform: scale(1.1);
    }
  }
  
  &:active {
    @include smooth-transition;
    outline: none;
    background-color: rgba($lavendar,0.3);
    
    .fa-times {
     // height: 1.7em;
    //width: 1.7em;
    }
    
  }
  
 // @include debug;
}

.view-details-link {
  
  @include hover;
  background-color: $dark-lavendar;  
  height: 2em;
  display: flex;
  justify-content: center;
  //justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
  margin: 1rem 0 0;
  border: none;
 padding: 0 1rem;
  
  color: $purpleywhite;
  
  &:hover {
    color: $purpleywhite;
    background-color: $black;
  }
  
  &:active, &:focus {
    @include no-flashy-select;
  
  }
  
 // @include debug;
}

#backtop {

  border: 0;
  outline: none;
  background-color: $softblue;
  color: $black;
 float: right;
  padding: 0 0.5rem;
  border-radius: 5px;
  position: sticky;
  bottom: 1rem;
  right: -0.5rem;
  display: none;
  font-size: 70%;
  height: 4em;
  content: ' \21E7';
  min-width: 48px;
  min-height: 48px;
  animation: appear 1s ease;
  
  i:before {
    content: ' \21E7';
    vertical-align: middle;
    font-size: 2em;
  }
  
  &:hover {
    @include no-flashy-select;
    @include hover;
    
    color: $purpleywhite;
    background-color: $black;
  }
  
}
