.modal-container {
  position: fixed;
  margin: auto;
  background-color: $black-opacity;
  width: 100vw;
  height: 100vh;
  top:0;
  left: 0;
  opacity: 0;
  overflow-y: scroll;  
  animation: appear 200ms ease forwards;
  z-index: 600;
 
  
}


#modal {
  width: 90%;
  max-width: 970px;
  height: auto;
  margin: 1em auto 5em;
  background-color: $purpleywhite;
  animation:  grow 200ms ease forwards;
  display: flex;
  @include column;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  
  section {
    @include layout-padding;
  }
  
  header {
 
  display: flex;
  flex-flow: row nowrap;
   justify-content: space-between;
  align-items: center;
    
  
  h3 { 
    font-size: 2em;
    flex: 0 1 auto;
  }
    
    .button-close {
      margin-bottom: auto;
    }  
  
}
  
  p {
   padding: 0.5rem 0;
  }
  
  a {
    color: $dark-lavendar;
     position: relative;
       
     &:hover {
     background-color: $pinkish;
    color: $black;
    transition: all 300ms ease;       
      
      }
  }
  

 
}




@at-root img[src$=".pdf"]  {
  display: none;
}


///===========================================================
///===============================Carousel Styling============
/// It's messy and full of overrides since I'm using someone else's component. 
//one day I'll fix it but for now I'm afraid of disturbing the delicate balance.

.modal-carousel {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  
  &:after {
    position: absolute;
    right:-5%;
    bottom: 0;
    width: 5%;
    content: "   ";
    background-color: transparent;
    height:100%;
    max-height: 80vh;
  }
  
   &:before {
    position: absolute;
    left:-5%;
     bottom: 0;
    width: 5%;
    content: "   ";
    background-color: transparent;
    height: 100%;
    max-height: 80vh;
  }
  
 
  
  .carousel.carousel-slider .control-arrow {
    transition: all .25s ease-in;
    opacity: 1;
    position: absolute;
    z-index: 2;
    //top: 20px;
    top: 3rem;
    bottom: 3rem;
    top: 0;
     bottom: 0;
    //background: 0 0;
    border: 0;
    font-size: 32px;
    cursor: pointer;
    border-radius: 5px;
    //background-color: $pinkish;
    width: 40%;
    background-color: transparent;
}
  
  
    .carousel.carousel-slider .control-arrow {
    
    
    &:hover, &:focus, &:active {
      transition: all .25s ease-in;
      background: transparent !important;
      opacity: 1 !important;
      border-radius: 5px;
      //-webkit-touch-callout: $lavendar;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      -webkit-tap-highlight-color: transparent;
      
   
      
    }
  

}
  
  
    .carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    //margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: none;
}
  
  .carousel .control-next.control-arrow:before {
    //border-left: 8px solid $black;
    
    
}
  
  .carousel.carousel-slider .control-prev.control-arrow:before {
    border-right: none;
    width: 1.5rem;
    //width: 1rem;
    background: lighten($pinkish,7%); 
   // background: #F7F3FB;
    content: "\276A";
    height: 100%;
    position: absolute;
    left: -1rem;
    left: -0.5rem;
    top: 0;
    margin: 0; 
   border-radius: 5px 0 0 5px;
    //opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
   
    //border-radius: 5px;
  
    color: $black;
}

  
     .carousel.carousel-slider .control-prev.control-arrow {
    
    
    &:hover, &:focus, &:active {
      transition: all .25s ease-in;
      background: transparent !important;
      opacity: 1 !important;
      border-radius: 5px;
      //-webkit-touch-callout: $lavendar;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      -webkit-tap-highlight-color: transparent;
      
   &:before {
     transition: all .25s ease-in;
    border-right: none;
    //width: 2rem;
    background: lighten($pinkish,3%);
    content: "\276A";
    //height: 100%;
    position: absolute;
    //left: -1rem;
    //top: 0;
    margin: 0;    
    //border-radius: 5px;
    
}
      
    }
  

}
  
  
  
 
  
  .carousel .control-next.control-arrow:before {
    //border-left: 8px solid $black;
    
    
}
  
  .carousel.carousel-slider .control-next.control-arrow:before {
    border-left: none;
    width: 1.5rem;
    //width: 1rem;
    background: lighten($pinkish,7%);
    content: "\276B";
    height: 100%;
    position: absolute;
    right: -0.5rem;
    top: 0;
    margin: 0;    
    border-radius: 0 5px 5px 0;
    //opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $black;
    
}

  
     .carousel.carousel-slider .control-next.control-arrow {
    
    
    &:hover, &:focus, &:active {
      transition: all .25s ease-in;
      background: transparent !important;
      opacity: 1 !important;
      border-radius: 5px;
      //-webkit-touch-callout: $lavendar;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
      -webkit-tap-highlight-color: transparent;
      
   &:before {
     transition: all .25s ease-in;
    border-right: none;
    //width: 2rem;
    background: lighten($pinkish,3%);
    content: "\276B";
    height: 100%;
    position: absolute;
    //right: -1rem;
    top: 0;
    margin: 0;    
    //border-radius: 5px;
     
    
}
      
    }
  

}
  


  
  .carousel .control-next.control-arrow {
    //right: -1rem;
   
}
  
  .carousel .control-prev.control-arrow {
    //left: -1rem;
   // border-left: 35px solid yellow;
    
 
}
  
  
  .carousel .carousel-status {
    position: absolute;
    top: -3rem;
    right: 1rem;
    padding: 5px;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.9);
    color: #black !important;
}

  
  
  //========Carousel structure==========
  
  .carousel.carousel-slider {
   overflow: visible !important; 
}
  
  .carousel-slider {
    //order: 2;
  }
  
 .carousel .slide {
    min-width: 100%;
    margin: 0;
    position: relative;
    text-align: center;
    background: rgba($purple-shadow, 0.1);
    padding: 1rem 1rem 0;
   display: flex;
   align-items: center;
   
  
   
} 
  
  .carousel .slider-wrapper.axis-horizontal .slider .slide {
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
}
  
  .carousel-inner {
  
  } 
  
  .carousel-content-pic {
    object-fit: scale-down;
    max-height: 60vh;
    box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.06);
    background:#fff;
  }
  
  .carousel img {
    width: auto;
   
}
  

.carousel .slide img {
   width: auto;
  
}
  
  .carousel .thumbs {
    display: flex;
    flex-flow: row nowrap;
  }
  
  
  .thumb {
    
     @include hover;
  //width: 7em;
  //height: 7em;
    min-width: 50px;
    width: 10vw;
    max-width: 100px;
    min-height: 50px;
    height:10vw;
    max-height: 100px;
  //border: 3px solid $lavendar;
  border-radius: 5px;
  margin: 0.05rem 0.1rem;
  display:block;
  position: relative;
  flex: 0 1 auto;  
    background-color: rgba($lavendar, 0.2);
    
  
    
    img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    border-radius: 5px;
    
    }
    
  }
  
   .carousel .thumbs {
   
   // white-space: normal !important; 
}
      
  
  .thumb.selected {
    border: 3px solid $lavendar;
 // transform: scale(1.1);
   @include smooth-transition;
    //z-index: 500;
    
    img {
       filter: sepia(1) hue-rotate(200deg);
    -webkit-filter: sepia(1) hue-rotate(210deg); 
    @include smooth-transition;
    }
    
  }
  
  a {
      display: block;
      width: 100%;
      text-align: center;
      padding: 0 1rem;
      color: $dark-lavendar;
     // background: $lavendar;
      font-size: 90%;
     // position: absolute;
     // z-index: 350;
     // bottom: 0;
    margin-top: 0.5rem;
    padding: 0.5rem;
      //left: 50%;
      //transform: translate(-50%, -50%);
    }
  
  
}

.carousel .thumb.selected, .carousel .thumb:hover {
    border: 3px solid $lavendar !important;
}

