article.article {

 
  
  
}



#readme, .content, .intro {
  
  border-radius: 5px;
  margin: 1rem 0;
  
 background-color: rgba($purpleywhite,0.99); 
  @include layout-padding;
  
  a {
    color: $dark-lavendar;
    position: relative;
   
   
    
    &:after {
       //content: ' \25F9';
      content: '\21F1';
      transform: rotate(90deg);
      font-size: 0.8rem;
      position: absolute;
      top: -3px;
      right: -8px;
      opacity: 0.7;
    }
    
  }
  
  ul {
    margin: 1rem;
    
    li {
      margin: 0.3rem 0;
      
      &:before {
        content: '\2023';
        margin-right: 0.5rem;
        color: $offblack;
      }
      
    }
  }
  
  input[type=checkbox]{
    margin-right: 0.3rem;
    margin-bottom: 0.2rem;
  }
  
   animation: fadein 0.5s $ease-bounce;
    animation-direction: normal; 
    animation-fill-mode: both;
  
}


.intro {
  background-color: rgba($pinkish,0.3); 
  background-color: transparent;
}






